<mat-form-field class="symbol-chip-input">
  <mat-label>{{ config.title | translate }}</mat-label>
  <mat-chip-list #chipList>
    <mat-chip *ngFor="let symbol of symbols" [selectable]="false" [removable]="true" (removed)="removeSymbol(symbol)">
      {{ symbol }}
      <mat-icon matChipRemove>cancel</mat-icon>
    </mat-chip>
    <input
      placeholder="{{ config.placeholder | translate }}"
      [matChipInputFor]="chipList"
      (matChipInputTokenEnd)="addSymbol($event)"
      autocomplete="off"
      [formControl]="formControl"
    />
    <mat-error *ngIf="formControl.invalid">{{ config.patternError | translate }}</mat-error>
  </mat-chip-list>
</mat-form-field>
