<table mat-table [dataSource]="dataSource">
  <!-- Semantics Column -->
  <ng-container matColumnDef="semantics">
    <th mat-header-cell *matHeaderCellDef>{{ "misc.semantics" | translate }}</th>
    <td mat-cell *matCellDef="let entity">{{ entity.semantics | translate }}</td>
  </ng-container>

  <!-- Syntax Column -->
  <ng-container matColumnDef="syntax">
    <th mat-header-cell *matHeaderCellDef>{{ "misc.syntax" | translate }}</th>
    <td mat-cell *matCellDef="let entity">{{ entity.syntax }}</td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="columns"></tr>
  <tr mat-row *matRowDef="let row; columns: columns"></tr>
</table>
