<div>
  <mat-card>
    <mat-card-title>
      {{ assignment.title }}
    </mat-card-title>
    <mat-card-subtitle>
      {{ assignment.completedOn ? ("assignments.completed-on" | translate : { date: (assignment.completedOn | date) }) : ("assignments.not-completed" | translate) }}
    </mat-card-subtitle>
    <mat-card-content *ngIf="shortenedDescription">
      {{ shortenedDescription }}
    </mat-card-content>
    <mat-card-actions style="display: flex; justify-content: flex-end">
      <button mat-button color="accent" [routerLink]="assignment.id">{{ "actions.open" | translate }}</button>
    </mat-card-actions>
  </mat-card>
</div>
