@import "src/assets/styles/variables";

:host {
  width: 100%;
}

.trace {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  &.invalid {
    color: mat-color($warn-palette);
  }

  .formula {
    margin-right: 1rem;
  }
}
