<mat-card class="link-form-card">
  <ng-container *ngIf="!link">
    <mat-card-subtitle>{{'editor.link.none-selected' | translate}}</mat-card-subtitle>
  </ng-container>
  <ng-container *ngIf="!!link">
    <mat-card-title>{{'editor.link.title' | translate}} {{link!.source.id}} -> {{link!.target.id}}</mat-card-title>
    <mat-card-content>
      <form [formGroup]="form" (ngSubmit)="onSubmit()">
        <div>
          <mat-form-field class="link-input">
            <mat-label>{{'editor.symbols.title' | translate}}</mat-label>
            <input matInput type="text" formControlName="symbols" autocomplete="off">
          </mat-form-field>
          <div class="form-button-container">
            <button type="submit" mat-raised-button color="primary" [disabled]="form.invalid">
              <mat-icon>save_alt</mat-icon>
              {{'actions.apply' | translate}}
            </button>
            <button type="button" mat-raised-button color="warn" (click)="onDelete()">
              <mat-icon>delete</mat-icon>
              {{'actions.delete' | translate}}
            </button>
          </div>
        </div>
      </form>
    </mat-card-content>
  </ng-container>
</mat-card>
