<mat-card class="node-form-card mat-elevation-z8">
  <ng-container *ngIf="!node">
    <mat-card-subtitle class="unselectable">{{ "editor.node.none-selected" | translate }}</mat-card-subtitle>
  </ng-container>
  <ng-container *ngIf="!!node">
    <mat-card-title class="unselectable">{{ "editor.node.title" | translate }} {{ node!.id }}</mat-card-title>
    <mat-card-content>
      <div>
        <gramofo-symbol-editor [symbols]="node!.relations" [config]="relationEditorConfig" (symbolsUpdated)="onNodeUpdated()"></gramofo-symbol-editor>
      </div>
      <div>
        <gramofo-symbol-editor [symbols]="node!.constants" [config]="constantEditorConfig" (symbolsUpdated)="onNodeUpdated()"></gramofo-symbol-editor>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-raised-button color="warn" (click)="requestNodeDeletion()">
          <mat-icon>delete</mat-icon>
          {{ "actions.delete" | translate }}
        </button>
      </div>
    </mat-card-actions>
  </ng-container>
</mat-card>
