<mat-card class="node-form-card mat-elevation-z4">
  <ng-container *ngIf="!node">
    <mat-card-subtitle>{{ "editor.node.none-selected" | translate }}</mat-card-subtitle>
  </ng-container>
  <ng-container *ngIf="!!node">
    <mat-card-title>{{ "editor.node.title" | translate }} {{ node!.id }}</mat-card-title>
    <mat-card-content>
      <div>
        <apollo-symbol-editor [symbols]="node!.relations" [config]="relationEditorConfig" (symbolsUpdated)="onNodeUpdated()"></apollo-symbol-editor>
      </div>
      <div>
        <apollo-symbol-editor [symbols]="node!.constants" [config]="constantEditorConfig" (symbolsUpdated)="onNodeUpdated()"></apollo-symbol-editor>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-icon-button [matTooltip]="'actions.delete' | translate" color="warn" (click)="requestNodeDeletion()">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </mat-card-actions>
  </ng-container>
</mat-card>
