<div #tooltip class="tooltip label"></div>
<div class="graph-tool-container">
  <div class="graph-tool">
    <button mat-flat-button color="primary" (click)="saveGraph()">
      <mat-icon>save</mat-icon>
      {{ "actions.save" | translate }}
    </button>
  </div>
  <div class="graph-tool">
    <button mat-flat-button color="primary" (click)="resetGraph()">{{ "graph.reset-graph" | translate }}</button>
  </div>
  <div class="graph-tool">
    <button *ngIf="allowEditing" mat-flat-button color="primary" (click)="createNode()">{{ "graph.create-node" | translate }}</button>
  </div>
  <div class="graph-tool">
    <mat-checkbox color="accent" [checked]="(graphSettings | async)!.enableSimulation" (change)="toggleSimulation()">{{ "graph.simulation" | translate }}</mat-checkbox>
  </div>
  <div class="graph-tool">
    <mat-checkbox color="accent" [checked]="(graphSettings | async)!.showLabels" (change)="toggleLabels()">{{ "graph.labels" | translate }}</mat-checkbox>
  </div>
</div>
<div #graphHost class="graph"></div>
