@mixin graph-theme($theme) {
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);
  $foregound: map-get($theme, foreground);

  .graph {
    width: 100%;
    height: 100%;
  }

  .tooltip {
    opacity: 0;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
    background: mat-color($primary, lighter);
    color: mat-color($primary, lighter-contrast);
    border-radius: 0.25rem;
    pointer-events: none;
  }

  .graph-tool-container {
    position: absolute;
    top: 1rem;
    right: 1rem;
    text-align: right;

    .graph-tool {
      margin-bottom: 1rem;
    }

    mat-checkbox {
      margin-right: 1rem;
    }
  }

  .label {
    pointer-events: none;
  }

  .link {
    stroke: mat-color($accent, darker);
    stroke-width: 3px;
    fill: none;

    &.hidden {
      stroke-width: 0;
    }

    &.draggable {
      pointer-events: none;
    }
  }

  .arrow {
    fill: mat-color($accent, darker);
  }

  .node {
    fill: mat-color($primary);
  }

  .link-details,
  .node-details {
    fill: mat-color($foregound, text);
  }

  .node-id {
    fill: mat-color($accent, darker-contrast);
  }
}
