<div class="modelchecker-container">
  <div class="formula-section">
    <mat-form-field>
      <mat-label>{{ 'fol.formula' | translate }}</mat-label>
      <input matInput [formControl]="formula" placeholder="{{ 'fol.formula' | translate}}" autocomplete="off"/>
    </mat-form-field>
    <button mat-raised-button (click)="graphExportRequests.emit()" [disabled]="formula.invalid" color="primary">{{ 'actions.check' | translate}}</button>
  </div>
  <div class="graph-section">
    <gramofo-graph-editor
      [graph]="graph"
      [graphExportRequests]="graphExportRequests"
      (saveRequested)="onSaveRequested($event)"
      (graphExported)="checkModel($event)"
    ></gramofo-graph-editor>
  </div>
</div>
