:host {
  display: flex;
  height: 100%;
  flex-direction: column;
}

.editor-a,
.editor-b {
  flex-grow: 1;
}

.title-a,
.title-b {
  margin-bottom: 0.5rem;
}

.title-a {
  margin-top: 1rem;
}

@media screen and (min-width: 801px) {
  .title-b {
    margin-top: 1rem;
  }
}
