:host {
  display: flex;
  height: 100%;
  flex-direction: row;
}

.graph-container {
  display: block;
  margin-right: 1rem;
  flex-grow: 4;
}

.graph-card-content,
.graph-card,
.graph-container {
  display: block;
  min-height: 400px;
}

.graph-card {
  padding: 0;
  height: 100%;
  overflow: hidden;
}

.graph-card-content {
  height: 100%;
  overflow: hidden;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-grow: 1;
  flex-shrink: 0;

  > *:not(:last-child) {
    margin-bottom: 1rem;
  }
}

@media screen and (max-width: 800px) {
  :host {
    flex-direction: column;
  }

  .graph-container {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .form-container {
    flex-grow: 0;
    margin-bottom: 1rem;
  }
}
