<div class="graph-container">
  <mat-card class="graph-card mat-elevation-z4">
    <mat-card-content class="graph-card-content">
      <apollo-graph
        #graphComponent
        [graph]="graph | async"
        [allowEditing]="true"
        [graphExportRequests]="graphExportRequests"
        (nodeDeleted)="nodeForm.onNodeDeleted($event)"
        (linkDeleted)="linkForm.onLinkDeleted($event)"
        (saveRequested)="saveRequested.emit($event)"
        (graphExported)="graphExported.emit($event)"
      ></apollo-graph>
    </mat-card-content>
  </mat-card>
</div>
<div class="form-container">
  <apollo-node-form
    #nodeForm
    [node]="graphComponent.nodeSelected | async"
    (nodeUpdated)="graphComponent.restart()"
    (nodeDeletionRequested)="graphComponent.removeNode($event)"
  ></apollo-node-form>
  <mat-divider class="horizontal-divider"></mat-divider>
  <apollo-link-form
    #linkForm
    [link]="graphComponent.linkSelected | async"
    (linkUpdated)="graphComponent.restart()"
    (linkDeletionRequested)="graphComponent.removeLink($event)"
  ></apollo-link-form>
</div>
