<div class="graph-container">
  <mat-card class="graph-card">
    <mat-card-content class="graph-card-content">
      <gramofo-graph
        #graphComponent
        [graph]="graph | async"
        (nodeDeleted)="nodeForm.onNodeDeleted($event)"
        (linkDeleted)="linkForm.onLinkDeleted($event)"
        (saveRequested)="saveRequested.emit($event)"
      ></gramofo-graph>
    </mat-card-content>
  </mat-card>
</div>
<div class="form-container">
  <gramofo-node-form
    #nodeForm
    [node]="graphComponent.nodeSelected | async"
    (nodeUpdated)="graphComponent.restart()"
    (nodeDeletionRequested)="graphComponent.removeNode($event)"
  ></gramofo-node-form>
  <mat-divider class="horizontal-divider"></mat-divider>
  <gramofo-link-form
    #linkForm
    [link]="graphComponent.linkSelected | async"
    (linkUpdated)="graphComponent.restart()"
    (linkDeletionRequested)="graphComponent.removeLink($event)"
  ></gramofo-link-form>
</div>
