<mat-card class="link-form-card">
  <ng-container *ngIf="!link">
    <mat-card-subtitle class="unselectable">{{ "editor.link.none-selected" | translate }}</mat-card-subtitle>
  </ng-container>
  <ng-container *ngIf="!!link">
    <mat-card-title class="unselectable">
      <span>{{ "editor.link.title" | translate }} {{ link!.source.id }}<mat-icon class="link-arrow-icon">arrow_right_alt</mat-icon>{{ link!.target.id }}</span>
    </mat-card-title>
    <mat-card-content>
      <div>
        <gramofo-symbol-editor [symbols]="link!.relations" [config]="relationEditorConfig" (symbolsUpdated)="onLinkUpdated()"></gramofo-symbol-editor>
      </div>
      <div>
        <gramofo-symbol-editor [symbols]="link!.functions" [config]="functionEditorConfig" (symbolsUpdated)="onLinkUpdated()"></gramofo-symbol-editor>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <div class="form-button-container">
        <button type="button" mat-raised-button color="warn" (click)="requestLinkDeletion()">
          <mat-icon>delete</mat-icon>
          {{ "actions.delete" | translate }}
        </button>
      </div>
    </mat-card-actions>
  </ng-container>
</mat-card>
