.link-form-card {
  overflow: auto;
}

.form-button-container {
  display: flex;
  justify-content: space-between;
}

.link-input {
  width: 100%;
}

.link-arrow-icon {
  display: inline-flex;
  // Somehow bottom alignment is above middle or top alignment. Still not centered, but better than the alternatives.
  vertical-align: bottom;
}
