@use '~@angular/material' as mat;

$primary-light-palette: mat.define-palette(mat.$indigo-palette);
$accent-light-palette: mat.define-palette(mat.$pink-palette, A200, A100, A400);

$primary-dark-palette: mat.define-palette(mat.$blue-grey-palette);
$accent-dark-palette: mat.define-palette(mat.$pink-palette, 700, 400, 800);

$warn-palette: mat.define-palette(mat.$red-palette);

$light-theme: mat.define-light-theme($primary-light-palette, $accent-light-palette, $warn-palette);
$dark-theme: mat.define-dark-theme($primary-dark-palette, $accent-dark-palette, $warn-palette);
