@import "~@angular/material/theming";

$primary-palette: mat-palette($mat-indigo);
$accent-palette: mat-palette($mat-pink, A200, A100, A400);

$warn-palette: mat-palette($mat-red);

$light-theme: mat-light-theme($primary-palette, $accent-palette, $warn-palette);
$dark-theme: mat-dark-theme($primary-palette, $accent-palette, $warn-palette);
