@use "@angular/material" as mat;
@import "variables";
@import "src/app/components/graph/graph.component";
@import "src/app/dialogs/result-tree/result-tree.dialog";
@import "src/app/pages/dashboard/dashboard.page";

@include mat.all-component-typographies();
@include mat.core();

@mixin component-themes($theme) {
  @include graph-theme($theme);
  @include repository-theme($theme);
  @include result-tree-theme($theme);
}

.light-theme {
  @include mat.all-component-themes($light-theme);
  @include component-themes($light-theme);
}

.dark-theme {
  @include mat.all-component-colors($dark-theme);
  @include component-themes($dark-theme);
}
