name: CD

on:
  release:
    types: [created]

jobs:
  prepare:
    name: Prepare
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup node env
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
      - name: Cache node modules
        id: node-cache
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Install dependencies
        if: steps.node-cache.outputs.cache-hit != 'true'
        run: yarn install
  documentation:
    name: Documentation
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup node env
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
      - name: Cache node modules
        id: node-cache
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Generate documentation
        run: yarn compodoc
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          branch: gh-pages
          folder: documentation
          clean: true
          git-config-name: Jan Müller
          git-config-email: janmueller3698@gmail.com
  build:
    name: Build
    runs-on: ubuntu-latest
    needs: prepare
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Setup node env
        uses: actions/setup-node@v2.4.0
        with:
          node-version: 14
      - name: Cache node modules
        id: node-cache
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-node-${{ hashFiles('./yarn.lock') }}
          restore-keys: |
            ${{ runner.os }}-node-
      - name: Set backend URL
        run: sed -i "s|{{BACKEND_URL}}|https://yeger.eu/apollo|g" src/environments/environment.prod.ts
      - name: Build
        run: yarn build
      - name: Upload artifact
        uses: actions/upload-artifact@v2
        with:
          name: build-artifact
          path: ./dist/apollo-frontend
          if-no-files-found: error
  upload-assets:
    name: Upload assets
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: build-artifact
          path: ./dist
      - name: Zip files
        uses: montudor/action-zip@v1.0.0
        with:
          args: zip -qq -r ./apollo-frontend.zip ./dist/
      - name: Release assets
        uses: softprops/action-gh-release@v1
        with:
          files: apollo-frontend.zip
        env:
          GITHUB_TOKEN: ${{ secrets.PAT }}
  deploy:
    name: Deploy
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Checkout
        uses: actions/checkout@master
      - name: Download artifact
        uses: actions/download-artifact@v2
        with:
          name: build-artifact
          path: ./dist
      - name: Create 404.html file
        run: cp ./dist/index.html ./dist/404.html
      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@4.1.4
        with:
          repository-name: DerYeger/apollo
          branch: gh-pages
          folder: ./dist
          clean: true
          token: ${{ secrets.PAT }}
          git-config-name: Jan Müller
          git-config-email: janmueller3698@gmail.com
